// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
    //box-sizing: border-box;
}

/*
 * Body basics
 */
body {
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

*:focus-visible {
    outline: 4px solid var(--focus);
    outline-offset: 2px;
}

input {
    border-radius: 4px;
    &:focus-visible {
        outline-offset: 0px;
    }
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-gap: 8px;
    margin: 0;
    padding: 0;
}

dt {
    grid-column: 1;
    margin: 0;
    padding: 0;
}

dd {
    grid-column: 2;
    margin: 0;
    padding: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
    box-sizing: inherit;
}