/* ==========================================================================
   TYPOGRAPHY STYLES
   ========================================================================== */

/*
    * Basic typography for copy text
    */

body {
    font-family: $text-font-stack;
    font-size: 16px;

    h1 {
        color: $heading-color;
        font-size: 3em;
        margin-bottom: 0em;
        text-transform: capitalize;
        font-family: $heading-font-stack;
    }

    h2 {
        font-size: 3.5rem;
        line-height: 1.45;
        color: $heading-color;
    }

    h3 {
        font-size: 3.5rem;
        line-height: 1.45;
    }

    h4 {
        font-family: $heading-font-stack;
        margin-top: 0.3em;
        margin-bottom: 0.8em;
    }

    h5 {
        color: $heading-color;
        font-size: 1.5em;
        margin-top: 0em;
        text-transform: lowercase;
    }
}

/*
 * Basic link styles
 */
a {
    font-weight: bold;
    text-decoration: underline;

    @include on-event {
        text-decoration: none;
    }
}