// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// media query for forced colors
@media screen and (forced-colors: active) {
    button {
        color: ButtonText!important;
        fill: ButtonText!important;
    }
    .change-button {
        border: 1px solid transparent!important;
    }
}

/* CHANGE BUTTON
   ========================================================================== */
.change-button {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    overflow: hidden;
    background-color: var(--buttonBackground);

    &:hover {
        overflow: visible;
        filter: brightness(1.2);
    }

    &:active {
        overflow: visible;
        filter: brightness(1.2);
    }

    img {
        width: 32px;
        height: 32px;
        
    }

    p {
        width: 200px;
        margin: -30px -210px;
        text-align: right;
        font-weight: 700;
    }
}

/*
 * Specific change buttons
 */


.button-group {
    display: flex;
    align-items: center;
    gap: 4px;

    .change-button:hover, .change-button:focus {
        +.button-group__label {
            display: block;
        }
    }

    &__label {
        display: none;
        order: -1;
        font-weight: 700;
        margin: -6px 5px 0;
    }
}

/* GO-BUTTON (SPLASH)
   ========================================================================== */

.gobutton {
    width: 130px;
    height: 40px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 3px 6px 6px 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #ffc3c3 100%);
    border: 2px solid grey;

    &:focus-within {
        outline: 4px solid var(--focus);
        outline-offset: 2px;
        
    }

    &:hover {
        background: white;
        background: #ffc3c3;
        background: linear-gradient(to bottom, #ffffff 0%, #ffeaea 100%);
    }

    &:active {
        background: #ffc3c3;
        background: linear-gradient(to bottom, #ffc3c3 0%, #ffffff 100%);

        input {
            margin-top: 1px;
        }
    }

    input {
        background: url(../img/gobutton.png) no-repeat;
        background-size: 90%;
        background-position: center top;
        cursor: pointer;
        text-align: center;
        border: none;
        width: inherit;
        height: inherit;
        &:focus {
            outline: none;
        }
    }
}