// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/* CHANGE BUTTON
   ========================================================================== */
.change-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 5px;
    background: rgb(172, 172, 172);
    opacity: 0.5;
    cursor: pointer;
    overflow: hidden;
    display: block;

    &:hover {
        overflow: visible;
        opacity: 1;
    }

    &:active {
        overflow: visible;
        opacity: 0.3;
    }

    img {
        display: block;
        margin: 0 auto;
        padding: 3px 0;
    }

    p {
        width: 200px;
        margin: -30px -210px;
        text-align: right;
        font-weight: 700;
    }
}

/*
 * Specific change buttons
 */

#clear-cache-button {
    img {
        padding-top: 5px;
    }
}

.button-group {
    display: flex;
    align-items: center;
    gap: 5px;

    .change-button:hover {
        +.button-group__label {
            display: block;
        }
    }

    &__label {
        display: none;
        order: -1;
        font-weight: 700;
        margin: -6px 5px 0;
    }
}

/* GO-BUTTON (SPLASH)
   ========================================================================== */

.gobutton {
    width: 130px;
    height: 40px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 3px 6px 6px 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #ffc3c3 100%);
    border: 2px solid grey;

    &:focus-within {
        border-color: #ae017e;
        outline: 4px solid pink;
    }

    &:hover {
        background: white;
        background: #ffc3c3;
        background: linear-gradient(to bottom, #ffffff 0%, #ffeaea 100%);
    }

    &:active {
        background: #ffc3c3;
        background: linear-gradient(to bottom, #ffc3c3 0%, #ffffff 100%);

        input {
            margin-top: 1px;
        }
    }

    input {
        background: url(../img/gobutton.png) no-repeat;
        background-size: 90%;
        background-position: center top;
        cursor: pointer;
        text-align: center;
        border: none;
        width: inherit;
        height: inherit;
        &:focus {
            outline: none;
        }
    }
}