/* Free text search function */

.search-container {
    position: absolute;
    top: 33vh;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;

    ul {
        list-style: none;
        padding: 0;
    }
}

.search-input-wrapper {
    position: relative;
    &::before {
        content: "";
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZvY3VzYWJsZT0iZmFsc2UiIGFyaWEtaGlkZGVuPSJ0cnVlIiBjbGFzcz0iIj48ZyBjbGlwLXBhdGg9InVybCgjc2VhcmNoX3N2Z19fYSkiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE2LjEgMTQuNDI4YS45ODcuOTg3IDAgMCAwLTEuNDI3LjAxNSA1Ljk5OCA1Ljk5OCAwIDEgMSAxLjUyNS00LjE0M2MuMDE0LjU0Ny0uMTk0IDEuMjEyLjI0NyAxLjY1MmExIDEgMCAwIDAgMS43LS41NiA4IDggMCAxIDAtMi43NjUgNS4xNTdsNSA1IDEuNDItMS40Mi01LjctNS43WiI+PC9wYXRoPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9InNlYXJjaF9zdmdfX2EiPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiPjwvcGF0aD48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 12px;
        top: 51%;
        transform: translateY(-50%);
        z-index: 1000;
    }
    .dark &::before {
        filter: invert(1);
    }
}

.search-results {
    border-radius: 8px;
    margin-top: 8px;
    overflow-y: auto;
    max-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    backdrop-filter: blur(20px);
    background-color: var(--backgroundInput);
    box-sizing: border-box;
}

.result-wrapper {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 8px 12px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    gap: 4px;
    cursor: pointer;
    &.country {
        flex-direction: column;
        align-items: start;
    }
    
    &:first-child {
        padding-top: 16px;
    }
    &:last-child {
        // padding-bottom: 16px;
    }
    .artists-wrapper & {
        &:last-of-type::after {
            border: none;
        }
    }
    &:after {
        content: "";
        position: absolute;
        left: 12px; 
        right: 12px; 
        bottom: 0; 
        border-bottom: 1px solid var(--borderSecondary); 
    }
    &:first-of-type::before {
        content: "";
        position: absolute;
        left: 12px; 
        right: 12px; 
        top: 0; 
        border-top: 1px solid var(--borderSecondary); 
    }
    &.focused {
        box-shadow: inset 0 0 0 3px #ae017e;
    }
    &:hover, &.focused {
        background-color: var(--hover);
    }
}

input.search {
    padding-left: 38px;
    height: 56px;
    min-width: 400px;
    min-width: 400px;
    backdrop-filter: blur(20px);
    background-color: var(--backgroundInput);
    outline-width: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus-visible {
        outline: 4px solid #ae017e;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;

    }
}

.country.result-wrapper {
    .country-artist-count {
        opacity: 0.54;
    }
}

.artist-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .playcount {
        opacity: 0.54;
        font-size: 0.9rem;
    }
}

.artist-name, .country-name, .shortcut-name {
    .highlight {
        font-weight: 700;
        font-family: $heading-font-stack;
    }
}
.country-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: right;
}
.result-wrapper {
    align-items: center;
}

.search-result-heading {
    font-size: 0.9rem;
    font-weight: normal;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 4px;
    color: var(--textPrimary);
}