// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
/** FOR THEMES!! **/

body.blue_black,
body.green_black,
body.pink_black {
    background: black;
    color: white;
    fill: white;
}

body.pink_white,
body.green_white,
body.red_white {
    background: white;
    color: #222;
    fill: #222;
}

/*
 * Link theme
 */

body.blue_black a,
body.green_black a,
body.pink_black a,
body.blue_black a:visited,
body.green_black a:visited,
body.pink_black a:visited,
body.blue_black a:active,
body.green_black a:active,
body.pink_black a:active {
    color: white;
}

body.pink_white a,
body.green_white a,
body.red_white a,
body.pink_white a:visited,
body.green_white a:visited,
body.red_white a:visited,
body.pink_white a:active,
body.green_white a:active,
body.red_white a:active {
    color: #222;
}

/*
 * HEADING THEMES
 */

body.blue_black h1,
body.green_black h1,
body.pink_black h1 {
    color: rgba(255, 255, 255, 0.8);
}

body.blue_black h5,
body.green_black h5,
body.pink_black h5 {
    color: rgba(200, 200, 200, 0.5);
}

/*
 * splash themes
 */

body.blue_black #welcome-container,
body.green_black #welcome-container,
body.pink_black #welcome-container {
    background: rgba(0, 55, 55, 0.5);
}

body.blue_black .welcome-message,
body.green_black .welcome-message,
body.pink_black .welcome-message {
    background: rgba(0, 0, 0, 0.6);
    border: 5px solid black;
}

/*
 * Tooltip
 */

body.blue_black .tooltip,
body.green_black .tooltip,
body.pink_black .tooltip {
    background: black;
}

/*
 * Map legend
 */

body.blue_black .legend rect,
body.pink_black .legend rect,
body.green_black .legend rect {
    stroke: #000;
}

/*
 * Progress bar
 */

body.blue_black #progress-text,
body.pink_black #progress-text,
body.green_black #progress-text {
    background: rgba(0, 0, 0, 0.5);
}

body.blue_black #progress-text:after,
body.pink_black #progress-text:after,
body.green_black #progress-text:after {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0.5);
}

body.blue_black #countryCount,
body.pink_black #countryCount,
body.green_black #countryCount {
    -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
}

/*
 * Friendbox
 */

body.blue_black #friends,
body.pink_black #friends,
body.green_black #friends {
    color: #ccc;
    background: rgba(0, 0, 0, 0.5);
}

/*
 * infocontainer
 */

body.blue_black .infoContainer,
body.green_black .infoContainer,
body.pink_black .infoContainer {
    background: rgba(0, 0, 0, 0.85);
    border-top: 1px solid white;
}

body.pink_white .infoContainer,
body.green_white .infoContainer,
body.red_white .infoContainer {
    background: rgba(255, 255, 255, 0.85);
}

/*
 * tags
 */

body.blue_black .tagdiv,
body.green_black .tagdiv,
body.pink_black .tagdiv {
    color: #ccc;
}

body.blue_black .tagdiv .usertag,
body.green_black .tagdiv .usertag,
body.pink_black .tagdiv .usertag {
    color: #fff;
}

/*
* flattr logo
*/

body.blue_black .flattr-logo,
body.green_black .flattr-logo,
body.pink_black .flattr-logo {
    fill: white;
}

/**
* bmc logo
*/

body.blue_black .bmc-button,
body.green_black .bmc-button,
body.pink_black .bmc-button {
    background: none;
    border: none;
}

body.blue_black .screenshot-overlay,
body.green_black .screenshot-overlay,
body.pink_black .screenshot-overlay {
    &__close {
        background: black;
        color: white;
        border-color: white;
    }
}