// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
/** FOR THEMES!! **/

body {
    --backgroundPrimary: #fff;
    --backgroundSecondary: #f5f5f5;
    --backgroundTertiary: rgba(180, 225, 225, 0.5);
    --backgroundInput: rgba(249, 249, 249, 0.94);
    --buttonBackground: #949494;
    --textPrimary: #222;
    --textSecondary: rgba(0, 0, 0, 0.8);
    --textTertiary: rgba(0, 0, 0, 0.54);
    --textHeading: rgba(55, 55, 55, 0.8);
    --link: #222;
    --border: rgba(0, 0, 0, 0.5);
    --borderSecondary: rgba(0, 0, 0, 0.12);
    --hover: rgba(0, 0, 0, 0.06);
    --highlight: rgba(175, 175, 175, 0.5);
    --focus: rgba(174, 1, 126, 1);
    --focusSecondary: rgba(174, 1, 126, 0.24);
    color-scheme: light;
}

body.dark {
    --backgroundPrimary: #000;
    --backgroundSecondary: rgba(20, 20, 20);
    --backgroundTertiary: rgba(0, 0, 0, 0.6);
    --backgroundInput: rgba(20, 20, 20, 0.94);
    --buttonBackground: #202020;
    --textPrimary: #fff;
    --textSecondary: rgba(255, 255, 255, 0.8);
    --textTertiary: rgba(255, 255, 255, 0.54);
    --textHeading: rgba(255, 255, 255, 0.8);
    --link: #fff;
    --border: rgba(255, 255, 255, 0.5);
    --borderSecondary: rgba(255, 255, 255, 0.12);
    --hover: rgba(255, 255, 255, 0.06);
    --highlight: rgba(175, 175, 175, 0.3);
    --focus: rgba(174, 1, 126, 1);
    --focusSecondary: rgba(174, 1, 126, 0.24);
    color-scheme: dark;
}


body {
    background: var(--backgroundPrimary);
    color: var(--textPrimary);
    fill: var(--textPrimary);
}

/*
 * Link theme
 */

a, a:visited, a:active {
    color: var(--link);
}

/*
 * HEADING THEMES
 */

 h1 {
    color: var(--textSecondary)
 }

 h5 {
    color: var(--textTertiary)
 }


/*
 * Tooltip
 */

.tooltip {
    background: var(--textPrimary);
    color: var(--backgroundPrimary)
}

/*
 * Map legend
 */

.legend rect {
    stroke: var(--backgroundPrimary);
}

/*
 * Progress bar
 */

body.blue_black #progress-text,
body.pink_black #progress-text,
body.green_black #progress-text {
    background: rgba(0, 0, 0, 0.5);
}

body.blue_black #progress-text:after,
body.pink_black #progress-text:after,
body.green_black #progress-text:after {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0.5);
}

.dark #countryCount {
    -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
}

/*
 * tags
 */

.dark .tagdiv {
    color: #ccc;
}

.dark .tagdiv .usertag {
    color: #fff;
}

/*
* flattr logo
*/

.dark .flattr-logo {
    fill: white;
}

/**
* bmc logo
*/

.dark .bmc-button {
    background: none;
    border: none;
}

.dark .screenshot-overlay {
    &__close {
        background: black;
        color: white;
        border-color: white;
    }
}