// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
/** FOR THEMES!! **/

body {
    color-scheme: light;
    --backgroundPrimary: #fff;
    --backgroundSecondary: rgba(250,250,250,0.98);
    --backgroundTertiary: rgba(180, 225, 225, 0.5);
    --backgroundInput: rgba(249, 249, 249, 0.94);
    --buttonBackground: #949494;
    --textPrimary: #222;
    --textSecondary: rgba(0, 0, 0, 0.8);
    --textTertiary: rgba(0, 0, 0, 0.54);
    --textHeading: rgba(55, 55, 55, 0.8);
    --link: #222;
    --border: rgba(0, 0, 0, 0.5);
    --borderSecondary: rgba(0, 0, 0, 0.12);
    --hover: rgba(0, 0, 0, 0.06);
    --highlight: rgba(175, 175, 175, 0.2);
    --focus: rgba(174, 1, 126, 1);
    --focusSecondary: rgba(174, 1, 126, 0.24);
}

body.dark {
    color-scheme: dark;
    --backgroundPrimary: #000;
    --backgroundSecondary: rgba(20, 20, 20);
    --backgroundTertiary: rgba(0, 0, 0, 0.6);
    --backgroundInput: rgba(20, 20, 20, 0.94);
    --buttonBackground: #202020;
    --textPrimary: #fff;
    --textSecondary: rgba(255, 255, 255, 0.8);
    --textTertiary: rgba(255, 255, 255, 0.54);
    --textHeading: rgba(255, 255, 255, 0.8);
    --link: #fff;
    --border: rgba(255, 255, 255, 0.5);
    --borderSecondary: rgba(255, 255, 255, 0.12);
    --hover: rgba(255, 255, 255, 0.06);
    --highlight: rgba(175, 175, 175, 0.2);
    --focus: rgba(174, 1, 126, 1);
    --focusSecondary: rgba(174, 1, 126, 0.24);
}

body.blue_black {
    --themeColorLight: #2A075A;
    --themeColorDark: #4651C5;
}

body.green_black {
    --themeColorLight: #032F30;
    --themeColorDark: #1CB162;
}

body.pink_black {
    --themeColorLight: #4B0627;
    --themeColorDark: #C355A4;
}

body.pink_white {
    --themeColorLight: #fcc5c0;
    --themeColorDark: #ae017e;
}

body.green_white {
    --themeColorLight: #ccece6;
    --themeColorDark: #238b45;
}

body.red_white {
    --themeColorLight: #feb24c;
    --themeColorDark: #bd0026;
}

$themes: (
    blue_black: ("#03020D", "#140E1F", "#2A075A", "#321C78", "#362688", "#3E3CA7", "#4651C5", "#5371F4"),
    green_black: ("#03020D", "#08120C", "#032F30", "#064137", "#0E6745", "#158C54", "#1CB162", "#28EA78"),
    pink_black: ("#03020D", "#1F0310", "#4B0627", "#5C1138", "#7E285C", "#A13F80", "#C355A4", "#F778DA"),
    pink_white: ("#feebe2", "#feebe2", "#fcc5c0", "#fa9fb5", "#f768a1", "#dd3497", "#ae017e", "#7a0177"),
    green_white: ("#ece2f0", "#F6EBFA", "#ccece6", "#99d8c9", "#66c2a4", "#41ae76", "#238b45", "#006d2c"),
    red_white: ("#F0F0D8", "#F0F0D8", "#feb24c", "#fd8d3c", "#fc4e2a", "#e31a1c", "#bd0026", "#800026"),
);


body {
    background: var(--backgroundPrimary);
    color: var(--textPrimary);
    fill: var(--textPrimary);
}

/*
 * Link theme
 */

a, a:visited, a:active {
    color: var(--link);
}

/*
 * HEADING THEMES
 */

 h1 {
    color: var(--textSecondary)
 }

 h5 {
    color: var(--textTertiary)
 }


/*
 * Tooltip
 */

.tooltip {
    background: var(--textPrimary);
    color: var(--backgroundPrimary)
}

/*
 * Map legend
 */

.legend rect {
    stroke: var(--backgroundPrimary);
}

/*
 * Progress bar
 */

body.blue_black #progress-text,
body.pink_black #progress-text,
body.green_black #progress-text {
    background: rgba(0, 0, 0, 0.5);
}

body.blue_black #progress-text:after,
body.pink_black #progress-text:after,
body.green_black #progress-text:after {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0.5);
}

.dark #countryCount {
    -webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
}


/*
* flattr logo
*/

.dark .flattr-logo {
    fill: white;
}

/**
* bmc logo
*/

.dark .bmc-button {
    background: none;
    border: none;
}

.dark .screenshot-overlay {
    &__close {
        background: black;
        color: white;
        border-color: white;
    }
}