/* ==========================================================================
   Map container
   ========================================================================== */

#map-container {
    height: 100%;
    overflow: hidden;
}

/* ==========================================================================
   Countries (SVG)
   ========================================================================== */

svg:active {
    cursor: move;
}

.country {
    cursor: pointer;
    &:hover {
        stroke: #FFF7EE;
        stroke-width: 1.2px;
    }
    &.highlighted,
    &.highlighted:hover {
        stroke: #444;
        stroke-width: 2.5px;
    }
}

/* ==========================================================================
   Map legend
   ========================================================================== */

.legend {
    font-size: 14px;
    font-family: $heading-font-stack;
    font-weight: 400;
    rect {
        stroke: #fff;
    }
    text {
        font-family: $text-font-stack;
    }
    &#filter {
        cursor: pointer;
        text-decoration: underline;
        font-style: italic;
    }
}


/* ==========================================================================
   Controls container
   ========================================================================== */

$controls-padding: 20px;
#controls {
    gap: 4px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 80px;
    padding: $controls-padding;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* ==========================================================================
   Progress bar
   ========================================================================== */

//(Progressbar container)
#countryCount {
    position: absolute;
    // 3 * (buttonheight + padding) :^)
    top: 3 * (48px+4px) + $controls-padding + 10px;
    width: 10px;
    bottom: $controls-padding;
    right: 32px;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
    border: 0.1em solid;
    z-index: 0;
    border-radius: 50px;
}

#progress-bar {
    float: left;
    width: 100%;
    height: 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: var(--focus);
    transition: height 0.6s ease;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
}

#progress-text {
    float: right;
    margin-right: 22px;
    margin-top: -20px;
    width: auto;
    line-height: 12px;
    border-radius: 8px;
    padding: 5px;
    background: var(--buttonBackground);
    border: 1px solid var(--borderSecondary);
    &:after,
    &:before {
        left: -13px;
        top: 0px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-color: var(--border);
        border-left-color: var(--border);
        border-width: 7px;
        margin-top: -7px;
    }
    &:before {
        border-color: var(--border);
        border-left-color: var(--border);
        border-width: 9px;
        margin-top: -9px;
    }
}

/* ==========================================================================
   Friendbox
   ========================================================================== */

/* Check out friends box */

#friends {
    position: absolute;
    bottom: 35px;
    right: 130px;
    font-size: 0.9em;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--borderSecondary);
    background: var(--backgroundSecondary);
    opacity: 0;
    p {
        text-align: center;
        margin: 0;
    }
    .friends-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.arrow {
    padding: 8px;
    border-radius: 100%;
    background-color: var(--buttonBackground);
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    appearance: none;
    &:hover {
        filter: brightness(1.2)
    }
}


/* ==========================================================================
   Misc
   ========================================================================== */

.text {
    font-size: 13px;
    text-transform: capitalize;
}

#colors {
    pointer-events: all;
    position: fixed;
    left: 150px;
    bottom: 30px;
    top: 450px;
    /*width: 107px;
    height: 67px;*/
}

div.colorChange {
    text-align: center;
    /*position: fixed; */
    /*left: 150px;
    bottom: 45px;*/
    width: 107px;
    height: 67px;
}

#journeyText {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

.screenshot-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--backgroundPrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    &__header {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 1em;
    }
    &__close {
        user-select: none;
        cursor: pointer;
        border: 2px solid #000;
        border-radius: 4px;
        padding: 0.3em 0.7em;
        font-weight: 700;
        font-size: 1.3em;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.6em;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: auto;
        box-shadow: 0 10px 30px -14px;
    }
}

.no-countries {
    position: absolute;
    // bottom: 232px;
    height: 18px;
    overflow: auto;
    width: 175px;
    left: 3%;
    font-size: 1em;
    transition: 0.5s opacity;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 14px;
    transition: 0.3s all ease-out; // opacity: 0.3;
    visibility: hidden;
    &:hover {
        opacity: 1;
        height: 200px;
    }
    ul {
        padding: 0;
        margin: 0;
        line-height: 1.1em;
    }
    li {
        list-style: none;
        padding-bottom: 0.5em;
    }
    &__title {
        margin-bottom: 0.3em;
        font-family: $heading-font-stack;
        font-weight: 400;
    }
    &__link {
        font-weight: normal;
    }
    &__content {
        padding-right: 0.5em;
        overflow: auto;
        visibility: hidden;
        p {
            margin: 0 0 0.5em;
        }
        .no-countries:hover & {
            visibility: visible;
        }
    }

    &__info {
        font-size: 0.9em;
        line-height: 1.1em;
        font-weight: bold;
        margin: 0.8em 0 0.7em !important;
        border-top: 1px solid #eee;
        padding-top: 1em;
    }
}

.artist-test{
    display:none;
    position: absolute;
    top: 20px;
    left: 20px;
}