/* ==========================================================================
   Map container
   ========================================================================== */

#map-container {
    height: 100%;
    overflow: hidden;
    svg:focus-visible {
        outline: 4px solid var(--focus);
        outline-offset: -4px;
    } 
}

/* ==========================================================================
   Countries (SVG)
   ========================================================================== */

svg:active {
    cursor: move;
}

.country {
    cursor: pointer;
    &:hover {
        stroke: #FFF7EE;
        stroke-width: 1.2px;
    }
    &.highlighted,
    &.highlighted:hover {
        stroke: #444;
        stroke-width: 2.5px;
    }
}

/* ==========================================================================
   Map legend
   ========================================================================== */

.legend {
    font-size: 14px;
    font-family: $heading-font-stack;
    font-weight: 400;
    rect {
        stroke: #fff;
    }
    text {
        font-family: $text-font-stack;
    }
    &#filter {
        cursor: pointer;
        text-decoration: underline;
        font-style: italic;
    }
}


/* ==========================================================================
   Controls container
   ========================================================================== */

$controls-padding: 20px;
#controls {
    gap: 4px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 80px;
    padding: $controls-padding;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* ==========================================================================
   Progress bar
   ========================================================================== */

//(Progressbar container)
#countryCount {
    position: absolute;
    // 3 * (buttonheight + padding) :^)
    top: 3 * (48px+4px) + $controls-padding + 10px;
    width: 10px;
    bottom: $controls-padding;
    right: 32px;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
    border: 0.1em solid;
    z-index: 0;
    border-radius: 50px;
}

#progress-bar {
    float: left;
    width: 100%;
    height: 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: var(--focus);
    transition: height 0.6s ease;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
}

#progress-text {
    float: right;
    margin-right: 22px;
    margin-top: -20px;
    width: auto;
    line-height: 12px;
    border-radius: 8px;
    padding: 5px;
    background: var(--backgroundSecondary);
    border: 1px solid var(--borderSecondary);
    &:after,
    &:before {
        left: -13px;
        top: 0px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-left-color: var(--border);
        border-width: 7px;
        margin-top: -7px;
    }
    &:before {
        border-left-color: var(--border);
        border-width: 9px;
        margin-top: -9px;
    }
}

/* ==========================================================================
   Friendbox
   ========================================================================== */

/* Check out friends box */

#friends {
    position: absolute;
    bottom: 35px;
    right: 130px;
    font-size: 0.9em;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid var(--borderSecondary);
    background: var(--backgroundSecondary);
    opacity: 0;
    p {
        text-align: center;
        margin: 0;
    }
    .friends-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.arrow {
    padding: 8px;
    border-radius: 100%;
    background-color: var(--buttonBackground);
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    appearance: none;
    &:hover {
        filter: brightness(1.2)
    }
}


/* ==========================================================================
   Misc
   ========================================================================== */

.text {
    font-size: 13px;
    text-transform: capitalize;
}

#colors {
    pointer-events: all;
    position: fixed;
    left: 150px;
    bottom: 30px;
    top: 450px;
    /*width: 107px;
    height: 67px;*/
}

div.colorChange {
    text-align: center;
    /*position: fixed; */
    /*left: 150px;
    bottom: 45px;*/
    width: 107px;
    height: 67px;
}

#journeyText {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

.screenshot-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--backgroundPrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    &__header {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 1em;
    }
    &__close {
        user-select: none;
        cursor: pointer;
        border: 2px solid #000;
        border-radius: 4px;
        padding: 0.3em 0.7em;
        font-weight: 700;
        font-size: 1.3em;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.6em;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: auto;
        box-shadow: 0 10px 30px -14px;
    }
}

.no-countries {
    &__title {
        position: absolute;
        left: 3%;
        bottom: 225px;
        font-size: 14px;
        margin-bottom: 0.3em;
        font-family: $heading-font-stack;
        font-weight: 400;
        // button reset
        appearance: none;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 0.1em;
    }
    &__link {
        font-weight: normal;
    }
}

dialog {
    animation: fadein 0.5s;
    opacity: 0;
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    &[open] {
        opacity: 1;
        background-color: var(--backgroundSecondary);
        border: 5px solid var(--borderSecondary);
        border-radius: 30px;
        margin: auto;
        max-height: 80%;
        position: fixed;
        padding: 1rem 2rem;
        overflow: scroll;
        max-width: 30rem;

        &::backdrop {
            background-color: rgba(255,255,255,0.4);
            .dark & {
                background-color: rgba(0,0,0,0.7);
            }
        }

        button.close {
            position: absolute;
            font-size: 24px;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            color: var(--backgroundPrimary);
            margin: 1rem;
            appearance: none;
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;
            background-color: var(--textPrimary);
            &:hover {
                transform: scale(1.1);
                filter: brightness(1.1)
            }
        }
        h1 {
            text-transform: none;
            font-size: 2rem;
        }
        ul {
            padding: 0;
            margin: 0;
            line-height: 1.1em;
        }
        h2 {
            font-size: 1rem;
            font-family: $heading-font-stack;
        }

        li {
            list-style: none;
            padding-bottom: 0.5em;
            border-top: 1px solid var(--borderSecondary);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 6px 0;
            gap: 12px;
            label {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            span {
                opacity: 0.54;
            }
            &:first-of-type {
                border-top: none;
            }
            &:last-of-type {
                // border-bottom: 1px solid var(--borderSecondary);
            }
        }
        fieldset {
            margin-bottom: 2rem;
            display: flex;
            width: fit-content;
            gap: 8px;
            border-color: var(--border);
            legend {
                // font-family: $heading-font-stack;
            }
            label {
                margin-right: 1rem;
            }
        }
}
}

.artist-test{
    display:none;
    position: absolute;
    top: 20px;
    left: 20px;
}

// Keyboard mode

.a11y-country-name {
    fill: var(--textPrimary);
}
.a11y-number-bg {
    stroke: 1px solid var(--textPrimary);
}

.a11y-number {
    font-size: 0.1rem;
    font-family: $heading-font-stack;
    fill: var(--backgroundPrimary);
    width: 0.2rem;
}

#keyboard-mode-message {
    position: absolute;
    width: 400px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--backgroundSecondary);
    color: var(--textPriary);
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    border: 6px solid var(--themeColorDark);

    p {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0.25rem;
        font-size: 1.2rem;
        text-transform: none;
        font-family: $heading-font-stack;
    }


}