/*
 * In this file we store styles for the zoomed in map view
 */

/* ==========================================================================
   Main container
   ========================================================================== */

.infoContainer {
    margin-left: 7px;
    margin-right: 7px;
    width: 99%;
    height: 150px;
    position: absolute;
    top: 7.5%;
    border-top: 1px solid black;
    z-index: 4;
    opacity: 0;
}

//Country name
.cnameDiv {
    display: block;
    float: right;
    margin-right: 5%;
    text-align: right;
    pointer-events: none;
}

/* ==========================================================================
   Artist info
   ========================================================================== */

.artistContainer {
    //Main container for artist information, recommendations and details
    float: right;
    margin-right: 6%;
    width: 592px;
    display: block;
    background: inherit;
    position: relative;

    h4 {
        font-size: 1.15em;
        margin-top: 1em;
        font-weight: bold;
        //color: $text-color;
    }

    p {
        font-size: 0.8em;
    }
}

.detailsDiv {
    //
    display: table;
    margin-left: 16px;
    padding: 0 30px;
    padding: 0;
    opacity: 0.9;
    vertical-align: top;
    position: relative;

    h5 {
        color: rgba(55, 55, 55, 0.5);
        font-size: 0.9em;
        margin-top: 0;
        text-transform: lowercase;
    }
}
.topartists-desc{
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-weight: bold;
    //color: $heading-color;
}
.demonym{
    font-size: 1.15em;
    font-weight: bold;
    font-family: $heading-font-stack;

    //color: $text-color;
}


//Artist controls
.fa.artist-control{
    position: absolute;
    font-size: 40px;
    top: 85px;
    color: rgba(90,90,90,0.8);
    cursor: pointer;
    transition: 0.1s;

    &.right{
        right: -8px;
    }

    &.left{
        left: -8px;
    }

    &.disabled{
            cursor: auto;
            color: rgb(172, 172, 172);
            opacity: 0.5;
            &:hover{
                color: rgb(172, 172, 172);
                transform: none;
            }
        }

    &:hover{
        transform: scale(2.5);
        color: pink;
    }
}

.details-p {
    font-size: 0.8em;
    font-style: #000;
    margin-bottom: 4px;
}

.summaryText {
    display: inline-block;
    background: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(175, 175, 175, 0.5);

    p {
        margin-bottom: 0;
        margin-top: 0.3em;
    }

    h4 {
        font-size: 1.1em;
        margin: 0;
    }
}

/* ==========================================================================
   Artist images
   ========================================================================== */

.artist-div {
    float: left;
    text-align: center;
    width: 112px;
    padding-top: 7px;
    cursor: pointer;
    border-radius: 7px;
    box-sizing: border-box;
    transition: background 0.1s;

    .image-div {
        transition: border-radius 0.1s;
    }
    a {
        text-decoration: none;
    }
}

.image-div {
    height: 96px;
    width: 96px;
    background-position: center top;
    border: 2px solid #444;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    text-align: center;
    //position: relative;
}

.overlayNo{
    //position: absolute;
    opacity: 0.35;
    color: #fff;
    text-decoration: none;
    //transform: translateY(-50%);
    font-size: 5em;
    line-height: 86px;

}

.artist-div.highlight, .reco-div.highlight {
    background: rgba(175, 175, 175, 0.5);
    filter: brightness(100%);
    filter: contrast(100%)


}

.artist-div.lowlight .image-div {
    border-radius: 50%;
    filter: brightness(40%);
    filter: contrast(40%)

}

.artist-div.lowlight .image-div:hover {
    border-radius: 30%;
    filter: brightness(80%);
    filter: contrast(60%);

}

/* ==========================================================================
   Artist tags
   ========================================================================== */
.tagdiv {
    border: 1px solid lightgrey;
    color: #969696;
    display: inline-block;
    background: inherit;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
    padding: 0.3em;
    margin-right: 0.2em;
    width: auto;

    h4 {
        font-size: 0.8em;
        font-weight: normal;
    }

    .usertag {
        color: #636363;
        font-weight: bolder;
    }
}

/* ==========================================================================
   Recommendations
   ========================================================================== */

.recoDiv {
    display: table;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 0 30px;
    padding: 0;
    opacity: 0.9;
    vertical-align: top;
    width: 560px;
}

.recLoadingDiv {
    width: 100%;
    margin-bottom: 1em;
}

/* ==========================================================================
   Close button
   ========================================================================== */

.close-button {
    width: 25px;
    height: 25px;
    display: block;
    text-transform: uppercase;
    color: #444;
    background: #fff;
    border: 0.1em solid #444;
    border-radius: 0.2em;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1em;
    top: 0.1em;
    right: 0;
    position: absolute;
    cursor: pointer;

    &:hover {
        color: #fff;
        background: #aaa;
    }

    &:active {
        color: #444;
        background: #fff;
    }
}