/*
 * In this file we store styles for the zoomed in map view
 */

/* ==========================================================================
   Main container
   ========================================================================== */

.infoContainer {
    margin-left: 7px;
    margin-right: 7px;
    width: 99%;
    height: 150px;
    position: absolute;
    top: 7.5%;
    border-top: 1px solid var(--borderSecondary);
    z-index: 4;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5%;
    background: var(--backgroundPrimary);
}


/* ==========================================================================
   Selected country info box
   ========================================================================== */

//Country name
.cnameDiv {
    display: block;
    margin-right: 5%;
    text-align: right;
    pointer-events: none;
}

.cnameContainer {
    h1 {
        margin-top: 0.27em;
    }

    strong {
        color: var(--textHeading);
        font-size: 1.5em;
        margin-top: 0;
    }

    .playlist-link{
        pointer-events: all;
        margin-top: 5px;

        a{
            display: inline-flex;
            align-items: center;
        }

        &__img{
            border-radius: 100%;
            width: 1.1em;
            height: 1.1em;
            background: #222;
            vertical-align: middle;
            margin-right: 0.3em;
        }

        .divider {
            margin: 0 0.5em;
            user-select: none;
            opacity: 0.6;
        }
    }
}

/* ==========================================================================
   Artist info
   ========================================================================== */

.artistContainer {
    //Main container for artist information, recommendations and details
    margin-right: 6%;
    padding: 8px 16px;
    border-radius: 0 0 8px 8px;
    width: 592px;
    display: block;
    background: var(--backgroundPrimary);
    position: relative;
    height: fit-content;

    h2 {
        font-size: 1.15em;
        font-weight: bold;
        color: inherit;
        font-family: $heading-font-stack;
    }

    p {
        font-size: 0.9em;
    }

    ol#top-artist-list, ul#recom-list {
        // reset list styles
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        li {
            flex-basis: 20%;
        }
    }

    li {
        // reset list item styles
        margin: 0;
        padding: 0;
        display: inline-block;
        
    }
}

.detailsDiv {
    padding: 0 30px;
    padding: 0;
    opacity: 0.9;
    width: 100%;
    vertical-align: top;
    position: relative;

    h5 {
        color: rgba(55, 55, 55, 0.5);
        font-size: 0.9em;
        margin-top: 0;
        text-transform: lowercase;
    }
}
.topartists-desc{
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.8em;
    span:not(.demonym) {
        font-family: $text-font-stack;
    }
    .demonym{
        font-size: 1.15em;
        font-weight: bold;
        font-family: $heading-font-stack;
        }
}



//Artist controls
.fa.artist-control{
    position: absolute;
    font-size: 24px;
    padding: 0;
    height: 48px;
    width: 48px;
    top: 85px;
    color: inherit;
    cursor: pointer;
    transition: 0.1s;
    // button resets
    border: none;
    background: none;
    border-radius: 100%;
    background-color: var(--themeColorLight);
    margin: 0;
    appearance: none;

    &.right{
        right: -44px;
    }

    &.left{
        left: -44px;
    }
    &:hover {
        background-color: var(--themeColorLight);
        transform: scale(1.1);
        filter: brightness(0.92);
    }

    &.disabled{
        display: none;
    }
}

.details-p {
    font-size: 0.8em;
    font-style: #000;
    margin-bottom: 4px;
}

.summaryText {
    display: inline-block;
    background: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(175, 175, 175, 0.5);

    p {
        margin-bottom: 0;
        margin-top: 1em;
    }

    h4 {
        font-size: 1.1em;
        margin: 0;
    }
}

/* ==========================================================================
   Artist images
   ========================================================================== */

.artist-div {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border-radius: 6px;
    box-sizing: border-box;
    transition: background 0.1s;
    background: inherit;
    border: none;
    margin: 0;
    appearance: none;

    &:focus-visible {
        outline-offset: 0;
    }

    a {
        text-decoration: none;
    }
}

.image-div {
    position: relative;
    height: 96px;
    width: 96px;
    border: 1px solid var(--border);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: none!important;
    transition: border-radius 0.1s;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center top;
        border-radius: 2px;
        transition: border-radius 0.1s;
        background-size: cover;
        background-image: url(https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png);
        z-index: -1;
    }
}

.dark .image-div::before {
    filter: invert(1) brightness(2);
}

.overlayNo{
    //position: absolute;
    opacity: 0.35;
    color: #fff;
    text-decoration: none;
    //transform: translateY(-50%);
    font-size: 5em;
    line-height: 86px;

}

.artist-div.highlight, .reco-div.highlight {
    background: var(--highlight);
}

.artist-div.lowlight .image-div {
    border-radius: 50%;
    &::before {
        border-radius: 50%;
    }
}

.artist-div.lowlight .image-div:hover {
    border-radius: 30%;

    &::before {
        border-radius: 30%;
    }
}


/* ==========================================================================
   Artist tags
   ========================================================================== */

.taglist {
    gap: 4px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    display: flex;

}

.tagdiv {
    color: inherit;
    display: inline-block;
    background: inherit;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
    padding: 0.3em;
    margin-right: 0.2em;
    width: auto;
    padding: 4px 12px!important;
    border-radius: 48px;
    background-color: var(--borderSecondary);
    display: inline-flex!important;
    align-items: center!important;
    text-align: center;
    height: fit-content;

    &.usertag {
        background-color: var(--themeColorLight);
    }
}

/* ==========================================================================
   Recommendations
   ========================================================================== */

.recoDiv {
    margin-bottom: 16px;
    padding: 0 30px;
    padding: 0;
    opacity: 0.9;
    vertical-align: top;
    width: 100%;
}

.recLoadingDiv {
    width: 100%;
    margin-bottom: 1em;
}

/* ==========================================================================
   Close button
   ========================================================================== */

.close-button {
    width: 25px;
    height: 25px;
    display: block;
    text-transform: uppercase;
    color: #444;
    background: #fff;
    border: 0.1em solid #444;
    border-radius: 0.2em;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.1em;
    top: 0.1em;
    right: 0;
    position: absolute;
    cursor: pointer;

    &:hover {
        color: #fff;
        background: #aaa;
    }

    &:active {
        color: #444;
        background: #fff;
    }
}