.bubblingG {
text-align: center;
width:107px;
height:67px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 13px;
height: 13px;
margin: 33px auto;
background: rgba(255,255,255,1);
-moz-border-radius: 67px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 67px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 67px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 67px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 67px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:rgba(255,255,255,1);
-moz-transform: translateY(0);
}

100% {
width: 32px;
height: 32px;
background-color:#FFFFFF;
-moz-transform: translateY(-28px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:rgba(255,255,255,1);
-webkit-transform: translateY(0);
}

100% {
width: 32px;
height: 32px;
background-color:#FFFFFF;
-webkit-transform: translateY(-28px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:rgba(255,255,255,1);
-ms-transform: translateY(0);
}

100% {
width: 32px;
height: 32px;
background-color:#FFFFFF;
-ms-transform: translateY(-28px);
}

}

@-o-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:rgba(255,255,255,1);
-o-transform: translateY(0);
}

100% {
width: 32px;
height: 32px;
background-color:#FFFFFF;
-o-transform: translateY(-28px);
}

}

@keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:rgba(255,255,255,1);
transform: translateY(0);
}

100% {
width: 32px;
height: 32px;
background-color:#FFFFFF;
transform: translateY(-28px);
}

}
