svg:active{
  cursor:move;
}

.country{
  fill: #feebe2;
  cursor: pointer;
}

.country.highlighted, .country.highlighted:hover{
  stroke:#444;
  stroke-width: 2.5px;
}

.country:hover{
  stroke: #FFF7EE;
  stroke-width: 1.5px;
}
.text{
  font-size:13px;
  text-transform:capitalize;
}
#map-container {

  /*margin:2% 2% 0 2%;*/

  /*border:1px solid #000;
  border-radius: 2px;*/
  height:100%;
  overflow:hidden;
}
.black-theme {
  background: black;
}

.hidden { 
  display: none; 
}
.legend {
  font-size: 14px;
}
  .legend rect{
    stroke:#fff;
  }
body.blue_black .legend rect,
body.pink_black .legend rect,
body.green_black .legend rect{
  stroke:#000;
}
.legend#filter{
  cursor:pointer;
  text-decoration: underline;
  font-style: italic;
}
.active {
  
}

div.tooltip {
  /*color: #222; */
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
  z-index: 1;
}

body.blue_black .tooltip,
body.green_black .tooltip,
body.pink_black .tooltip{
  background: black;
}

.infoContainer{
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%;
  height: 150px;
  position: absolute;
  top: 7.5%;
  border-top: 1px solid black;
  z-index: 4;
  opacity: 0;
}

body.blue_black .infoContainer,
body.green_black .infoContainer,
body.pink_black .infoContainer{
  background: rgba(0, 0, 0, 0.85);
  border-top: 1px solid white;
}

body.pink_white .infoContainer,
body.green_white .infoContainer,
body.red_white .infoContainer{
  background: rgba(255, 255, 255, 0.85);
}


.artistContainer{
  float: right;
/* display:inline-block; */
  margin-right: 6%;
  width:37em;
  display: block;
  background: inherit;
}

.artistContainer h4 {
  font-size: 1em;
  margin-top: 1em;
}
.recoDiv {
  display: table;
  /*color: #222;*/
  margin-left: 1em;
  margin-right: 1em;
  padding: 0 30px;
  padding: 0px;
  opacity: 0.9;
  vertical-align: top;
  width: 560px;
}
.recLoadingDiv{
  width: 100%;
  margin-bottom: 1em;
}

.detailsDiv {
  display: table;
  /*color: #222;*/
  margin-left:1em;
  padding: 0 30px;
  /*background: rgba(255, 255, 255, 0.5);*/
  padding: 0px;
  opacity: 0.9;
  vertical-align: top;
 
}

.summaryText{
  display: inline-block;
  background:inherit;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(175,175,175,0.5);
}

.summaryText h4 {
  font-size: 1.1em;
  margin:0;
}
.summaryText p{
  /*font-family: 'Josefin Sans';*/
  margin-top: 0.3em;
}


.tagdiv{
  border: 1px solid lightgrey;
  color: #969696;
  display: inline-block;
  background:inherit;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  padding: 0.3em;
  margin-right: 0.2em;
  width:auto;
}

body.blue_black .tagdiv,
body.green_black .tagdiv,
body.pink_black .tagdiv{
  color:#ccc;
}

.tagdiv h4{
  font-size: 0.8em;
  font-weight: normal;
}
.tagdiv .usertag{
  /*background-color: rgba(220, 20, 20, 0.1);*/
  color: #636363;
  font-weight: bolder;
}

body.blue_black .tagdiv .usertag,
body.green_black .tagdiv .usertag,
body.pink_black .tagdiv .usertag{
  color:#fff;
}

div.cnameDiv {
  display:block;
  /*background: rgba(255, 255, 255, 1.0);*/
  float: right;
  margin-right: 5%;
  text-align: right;
  /*padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.8; */
  pointer-events: none;
}

h1 {
  color: rgba(55, 55, 55, 0.8); 
  font-size: 3em;
  margin-bottom: 0em;
  text-transform: capitalize;
  font-family: "Patua One";
}
body.blue_black h1,
body.green_black h1,
body.pink_black h1{
  color:rgba(255,255,255,0.8);
}

h5 {
  color: rgba(55, 55, 55, 0.5); 
  font-size: 1.5em;
  margin-top: 0em;
  text-transform: lowercase;
}
body.blue_black h5,
body.green_black h5,
body.pink_black h5{
  color:rgba(200,200,200,0.5);
}

h4 {
  font-family: 'Patua One';
  margin-top: 0.3em;
  margin-bottom: 0.8em;
}

div.artist-div{
  float: left;
  text-align: center;
  width: 7em;
  padding-top: 7px;
  cursor: pointer;
border-radius: 7px;
-webkit-border-radius:7px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;

    -webkit-transition: background 0.1s; /* For Safari 3.1 to 6.0 */
  transition: background 0.1s;
}

.artist-div .image-div{
  -webkit-transition: border-radius 0.1s; /* For Safari 3.1 to 6.0 */
  transition: border-radius 0.1s;
}

.artist-div.highlight, .reco-div.highlight{
 background:rgba(175,175,175,0.5);
}

.artist-div.lowlight .image-div{
  border-radius: 50%;
}
.artist-div.lowlight .image-div:hover{
  border-radius: 30%;
}

*{
    font-family: "Didact Gothic"
}

p.details-p{
  font-size: 0.8em;
  font-style: #000;
  margin-bottom:4px;
}

.detailsDiv h5 {
  color: rgba(55, 55, 55, 0.5); 
  font-size: 0.9em;
  margin-top: 0em;
  text-transform: lowercase;
}



div.image-div{
  height: 6em;
  width: 6em;
  background-position:center top;
  border:2px solid #444;
  border-radius:2px;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.close-button{
width:25px;
height:25px;
display:block;
text-transform:uppercase;
color:#444;
background:#fff;
border:0.1em solid #444;
border-radius:0.2em;
text-align:center;
font-size:16px;
font-weight: bold;
line-height:1.1em;
top: 0.1em;
right: 0;
position: absolute;
cursor:pointer;
}

.close-button:hover{
  color:#fff;
  background: #aaa;
}
.close-button:active{
  color:#444;
  background: #fff;
}






