.country{
  fill: #feebe2;
}

.country.highlighted, .country.highlighted:hover{
  stroke:#444;
  stroke-width: 0.5em;
}

.country:hover{
  stroke: #FFF7EE;
  stroke-width: 0.25em;
}
.text{
  font-size:1em;
  text-transform:capitalize;
}
#map-container {
  margin:5px 2%;
  /*border:1px solid #000;
  border-radius: 2px;*/
  height:100%;
  overflow:hidden;
}
.black-theme {
  background: black;
}

.hidden { 
  display: none; 
}
.legend {
  font-size: 1em;
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

div.detailsDiv {
  color: #222; 
  background: #fff; 
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
  text-align: center;

}

div.artist-div{
  float: left;
  text-align: center;
  width: 7em;
  padding-top: 3em;

}

*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p.details-p{
  font-size: 0.8em;
  font-style: #000;
}


.details-h{
  

}

div.image-div{
  height: 6em;
  width: 6em;
  background-position:center top;
  border:2px solid #444;
  border-radius:2px;
  margin-left: auto;
  margin-right: auto;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.equator {
  stroke: #ccc;
  stroke-width: 1px;
}*/

button.close-button{
  top: 0px;
  right: 0px;
  position: absolute;
}