svg:active{
  cursor:move;
}

.country{
  fill: #feebe2;
  cursor: pointer;
}

.country.highlighted, .country.highlighted:hover{
  stroke:#444;
  stroke-width: 2.5px;
}

.country:hover{
  stroke: #FFF7EE;
  stroke-width: 1.5px;
}
.text{
  font-size:10px;
  text-transform:capitalize;
}
#map-container {

  /*margin:2% 2% 0 2%;*/

  /*border:1px solid #000;
  border-radius: 2px;*/
  height:100%;
  overflow:hidden;
}
.black-theme {
  background: black;
}

.hidden { 
  display: none; 
}
.legend {
  font-size: 12px;
}
.active {
  
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

.infoContainer{
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 99%;
  height: 150px;
  position: absolute;
  top: 7.5%;
  background: rgba(255, 255, 255, 0.6);
  border-top: 1px solid black;
  z-index: 4;

}


div.detailsDiv {
  display: inline-block;
  color: #222;
  float: right;
  /* margin-right: 5%; */
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.5);
  padding: px;
  opacity: 0.9;
  vertical-align: top;
 
}

div.cnameDiv {
  display: inline-block;
  /*background: rgba(255, 255, 255, 1.0);*/
  margin-left: 5%;
  /*padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.8; */
  pointer-events: none;
}
body.black-theme .cnameDiv h1 {
  color: rgba(255, 255, 255, 0.7);
}
body.black-theme .cnameDiv h5 {
  color: rgba(255, 255, 255, 0.5);
}

.cnameDiv h1 {
  color: rgba(55, 55, 55, 0.8); 
  font-size: 3em;
  margin-bottom: 0em;
  text-transform: capitalize;
}
.cnameDiv h5 {
  color: rgba(55, 55, 55, 0.5); 
  font-size: 1.5em;
  margin-top: 0em;
  text-transform: lowercase;
}

div.artist-div{
  float: left;
  text-align: center;
  width: 7em;
  padding-top: 0;


}

*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p.details-p{
  font-size: 0.8em;
  font-style: #000;
}

.detailsDiv h5 {
  color: rgba(55, 55, 55, 0.5); 
  font-size: 0.9em;
  margin-top: 0em;
  text-transform: lowercase;
}



div.image-div{
  height: 6em;
  width: 6em;
  background-position:center top;
  border:2px solid #444;
  border-radius:2px;
  margin-left: auto;
  margin-right: auto;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.equator {
  stroke: #ccc;
  stroke-width: 1px;
}


.close-button{
width:25px;
height:25px;
display:block;
text-transform:uppercase;
color:#444;
background:#fff;
border:0.1em solid #444;
border-radius:0.2em;
text-align:center;
font-size:16px;
font-weight: bold;
line-height:1.1em;
top: 0.1em;
right: 0;
position: absolute;
cursor:pointer;
}

.close-button:hover{
  color:#fff;
  background: #aaa;
}
.close-button:active{
  color:#444;
  background: #fff;
}






