body {
	background-color: white;
	margin:0;
	overflow-x: hidden;
	overflow-y: hidden;
}

/** FOR THEMES!! **/
body.blue_black,
body.green_black,
body.pink_black{
	background: black;
	color:white;
	fill:white;
}

body.pink_white,
body.green_white,
body.red_white{
	background: white;
	color:#222;
	fill:#222;
}

body.blue_black a,
body.green_black a,
body.pink_black a,
body.blue_black a:visited,
body.green_black a:visited,
body.pink_black a:visited,
body.blue_black a:active,
body.green_black a:active,
body.pink_black a:active{
	color:white;
}

body.pink_white a,
body.green_white a,
body.red_white a,
body.pink_white a:visited,
body.green_white a:visited,
body.red_white a:visited,
body.pink_white a:active,
body.green_white a:active,
body.red_white a:active{
	color:#222;
}

a{
  font-weight: bold;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
a:active{
  font-weight: normal;
}

#change-theme-button{
	/*right:80px;*/
	top: 70px;
}

#change-user-button{
	top: 20px;
}

.change-button{
	position: absolute;
	right:20px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	z-index: 1;
	background:rgb(172,172,172);
	opacity:0.5;
	cursor: pointer;
	overflow:hidden;
}

.change-button:hover{
	overflow: visible;
	opacity: 1;
}	
.change-button:active{
	overflow: visible;
	opacity: 0.3;
}	
.change-button img{
	display: block;
	margin: 3px auto;
}
.change-button p{
	width: 200px;
	margin: -30px -210px;
	text-align: right;
	font-weight: 700;
}

.theme-button {
	/*font-size: 14px;
	background: white;
	position: fixed;
	left: 150px;
	bottom: 45px;*/
	z-index: 2;

}

#colors{
pointer-events: all;
position: fixed;
left: 150px;
bottom: 30px;
top: 450px;
/*width: 107px;
height: 67px;*/
}
div.colorChange{
text-align: center;
/*position: fixed; */
/*left: 150px;
bottom: 45px;*/
width: 107px;
height: 67px;
}

#paintIt{
	/*padding:1em;*/
	cursor: pointer;
	color: #211f1D;
}

.colorChange span {
/*display: inline-block;*/
vertical-align: bottom;

width: 13px;
height: 13px;
margin: 33px auto;
background: rgba(255,255,255,1);
/*-moz-border-radius: 67px;
-webkit-border-radius: 67px;
-ms-border-radius: 67px;
-o-border-radius: 67px;*/
border-radius: 67px;
}

#welcome-container{
	position: absolute;
	width: 100%;
	display: flex;
	height: 100%;
	background: rgba(255,200,200,0.5);
	visibility: hidden;/* Show only if we need to */
}
body.blue_black #welcome-container,
body.green_black #welcome-container,
body.pink_black #welcome-container{
	background: rgba(0,55,55,0.5);
}

#welcome-message{
	margin: auto;
	padding: 20px 30px 30px 30px;
	background: rgba(255,255,255,0.7);
	border-radius: 30px;
	text-align: center;
	width: 300px;
	border:5px solid white;

}
body.blue_black #welcome-message,
body.green_black #welcome-message,
body.pink_black #welcome-message{
	background: rgba(0,0,0,0.7);
	border:5px solid black;
}



.info{
	text-align: left;
}

.infoPoint{
	text-align: left;
	margin: 0.3em 0 0 0;
	font-size: 0.9em;
	font-style: ;

}


#journeyText{
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0;
	text-align: center;
}


#start{
	margin-top: 1.5em;
}




.progress {
  height: 0.4em;
  margin-bottom: 20px;
  overflow: hidden;

  background-color: rgb(172,172,172);
 /* border-radius: 4px;*/
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
   border:0.13em solid #444;
	z-index: 0;


/*	-webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.72);
	-moz-box-shadow:    0px 5px 11px 0px rgba(0, 0, 0, 0.72);
	box-shadow:         0px 5px 11px 0px rgba(0, 0, 0, 0.72);*/
}

/*body.pink_white .progress,
body.red_white .progress,
body.green_white .progres{
-webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    0px 5px 11px 0px rgba(0, 0, 0, 0.3);
box-shadow:         0px 5px 11px 0px rgba(0, 0, 0, 0.3);
}*/

#progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;

  background-color: #ae017e;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

#countryCount{
	position: absolute;
	top: 92%;
	width: 55%;
	left: 20%;
}

#logo{
	position: absolute;
	top:90%;
	right:5%;

	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* These are hidden until user has logged in */
.on-map-view{
	visibility: hidden;
}