body {
	background-color: white;
	margin:0;
	overflow-x: hidden;
	overflow-y: hidden;
}

/** FOR THEMES!! **/
body.blue_black,
body.green_black,
body.pink_black{
	background: black;
	color:white;
	fill:white;
}

body.pink_white,
body.green_white,
body.red_white{
	background: white;
	color:#222;
	fill:#222;
}

body.blue_black a,
body.green_black a,
body.pink_black a,
body.blue_black a:visited,
body.green_black a:visited,
body.pink_black a:visited,
body.blue_black a:active,
body.green_black a:active,
body.pink_black a:active{
	color:white;
}

body.pink_white a,
body.green_white a,
body.red_white a,
body.pink_white a:visited,
body.green_white a:visited,
body.red_white a:visited,
body.pink_white a:active,
body.green_white a:active,
body.red_white a:active{
	color:#222;
}

a{
  font-weight: bold;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}
a:active{
  font-weight: normal;
}

#change-theme-button{
	/*right:80px;*/
	top: 70px;
}

#change-user-button{
	top: 20px;
}

.change-button{
	position: absolute;
	right:20px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	z-index: 1;
	background:rgb(172,172,172);
	opacity:0.5;
	cursor: pointer;
	overflow:hidden;

	/*-webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    4px 4px 9px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         4px 4px 9px 0px rgba(0, 0, 0, 0.75);*/
}

.change-button:hover{
	overflow: visible;
	opacity: 1;
}	
.change-button:active{
	overflow: visible;
	opacity: 0.3;
}	
.change-button img{
	display: block;
	margin: 3px auto;
}
.change-button p{
	width: 200px;
	margin: -30px -210px;
	text-align: right;
	font-weight: 700;
}

.theme-button {
	/*font-size: 14px;
	background: white;
	position: fixed;
	left: 150px;
	bottom: 45px;*/
	z-index: 2;

}

#colors{
pointer-events: all;
position: fixed;
left: 150px;
bottom: 30px;
top: 450px;
/*width: 107px;
height: 67px;*/
}
div.colorChange{
text-align: center;
/*position: fixed; */
/*left: 150px;
bottom: 45px;*/
width: 107px;
height: 67px;
}

#paintIt{
	/*padding:1em;*/
	cursor: pointer;
	color: #211f1D;
}

.colorChange span {
/*display: inline-block;*/
vertical-align: bottom;

width: 13px;
height: 13px;
margin: 33px auto;
background: rgba(255,255,255,1);
/*-moz-border-radius: 67px;
-webkit-border-radius: 67px;
-ms-border-radius: 67px;
-o-border-radius: 67px;*/
border-radius: 67px;
}

#welcome-container{
	position: absolute;
	width: 100%;
	display: flex;
	height: 100%;
	background: rgba(255,200,200,0.5);
	visibility: hidden;/* Show only if we need to */
}
body.blue_black #welcome-container,
body.green_black #welcome-container,
body.pink_black #welcome-container{
	background: rgba(0,55,55,0.5);
}

#welcome-message{
	margin: auto;
	margin-top: 10%;
	padding: 20px 30px 20px 30px;
	background: rgba(255,255,255,0.7);
	border-radius: 30px;
	text-align: center;
	width: 300px;
	border:5px solid white;

}
body.blue_black #welcome-message,
body.green_black #welcome-message,
body.pink_black #welcome-message{
	background: rgba(0,0,0,0.6);
	border:5px solid black;
}

.info{
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}

.infoPoint{
	text-align: left;
	margin: 0.3em 0 0 0;
	font-size: 0.9em;

}


#journeyText{
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0;
	text-align: center;
}


#start{
	margin-top: 0.25em;
}


.logoImageWelcome{
	margin-bottom: 0.8em;
}



.gobutton{




width: 130px;
height: 40px;
overflow: hidden;
margin: 1em auto 0 auto;
padding: 3px 6px 6px 6px;
border-radius: 10px;
-webkit-border-radius: 10px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #ffc3c3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffc3c3));
background: -webkit-linear-gradient(top, #ffffff 0%,#ffc3c3 100%);
background: -o-linear-gradient(top, #ffffff 0%,#ffc3c3 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#ffc3c3 100%);
background: linear-gradient(to bottom, #ffffff 0%,#ffc3c3 100%);
border: 2px solid grey;
}	

.gobutton:hover{
	background:white;
	background: #ffc3c3; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ffeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ffeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ffeaea 100%); /* IE10+ */	
background: linear-gradient(to bottom, #ffffff 0%,#ffeaea 100%); /* W3C */
}

.gobutton:active{
	background: #ffc3c3; /* Old browsers */
background: -moz-linear-gradient(top, #ffc3c3 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc3c3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffc3c3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffc3c3 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffc3c3 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffc3c3 0%,#ffffff 100%); /* W3C */
}

.gobutton:active input{
	margin-top:1px;
}

div.gobutton input {
	/*margin-top: 3px;
    background:url(img/gobutton.png) no-repeat center;
    background-size: 100%;
    cursor:pointer;
    border: none;
    width:143px;
    height:53px;*/


    /* margin-top: -0.5em; */
background: url(img/gobutton.png) no-repeat;
background-size: 100%;
cursor: pointer;
border: none;
width: 10em;
height: 6.5em;

}
div.gobutton input:hover{

}

.usernameinput{
	height: 30px;
	width: 170px;
	color: #222;
	font-size: 15px;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.8);
	/*text-align: center;*/

}

#progress-bar {
	float: left;
	width: 100%;
	height: 0;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	background-color: #ae017e;

	-webkit-transition: height 0.6s ease;
	      transition: height 0.6s ease;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow:    inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
	box-shadow:         inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
}
#progress-text{
	float: right;
	margin-right: 18px;
	margin-top: -20px;
	width: auto;
	line-height: 12px;
	border-radius: 8px;
	padding: 5px;
	background:rgba(255,255,255,0.5);
	border:1px solid rgba(175,175,175,0.5);
}

body.blue_black #progress-text,
body.pink_black #progress-text,
body.green_black #progress-text{
	background:rgba(0,0,0,0.5);
}

#progress-text:after, #progress-text:before {
	left: -9px;
	top: 0px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#progress-text:after {
	border-color: rgba(255,255,255, 0);
	border-left-color: rgba(255,255,255, 0.5);
	border-width: 7px;
	margin-top: -7px;
}
#progress-text:before {
	border-color:rgba(175,175,175, 0);
	border-left-color: rgba(175,175,175, 0.5);
	border-width: 9px;
	margin-top: -9px;
}
body.blue_black #progress-text:after,
body.pink_black #progress-text:after,
body.green_black #progress-text:after{
	border-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0.5);
}


#countryCount{
	position: absolute;
	top: 140px;
	width: 10px;
	height: 65%;
	right: 32px;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow:    inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
	box-shadow:         inset 1px 1px 3px 0px rgba(0, 0, 0, 0.39);
   	border:0.1em solid;
	z-index: 0;
	border-radius: 50px;
}

body.blue_black #countryCount,
body.pink_black #countryCount,
body.green_black #countryCount{
-webkit-box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    4px 4px 9px 0px rgba(0, 0, 0, 0.75);
box-shadow:         4px 4px 9px 0px rgba(0, 0, 0, 0.75);
}

#logo{
	position: absolute;
	bottom:35px;
	right:20px;
	/*opacity: 0.5;*/

	pointer-events: none;
}

/* These are hidden until user has logged in */
.on-map-view{
	visibility: hidden;
	/*opacity: 0.6;*/
}
.full-opacity{
	opacity: 0.9;
}

.no-select{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#made-by{
    font-size: 13px;
    margin: 20px 0 0 0;
    opacity:0.6;
}