<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
	{% if auth %}
	You are {{s.name}} and your session id is {{s.key}}.
	{% endif %}
	</title>
	{% if auth %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map.css')}}">
	{% endif %}
</head>
<body>
{% if auth %}
	<div id="map-container"></div>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>



	<script>var SESSION = {name:"{{s.name}}",key:"{{s.key}}"};</script>

	<script src="{{ url_for('static', filename='api/lastfm.js')}}"></script>
	<script src="{{ url_for('static', filename='api/musicbrainz.js')}}"></script>
	<script src="{{ url_for('static', filename='api/api.js')}}"></script>

	<script src="{{ url_for('static', filename='script.js')}}"></script>
	<script src="{{ url_for('static', filename='map.js')}}"></script>

{% else %}
	To experience Explr, you need to authenticate with last.fm.
	<a href='{{api["lastfm"]["auth_url"]+api["lastfm"]["key"]}}'>Click here!</a>
{% endif %}
</body>
</html>
