/* ==========================================================================
   Font stacks
   ========================================================================== */
/// Regular font family
/// @type List
$text-font-stack: "Didact Gothic", "Futura Medium", "Century Gothic", "Apple Gothic", "Avant Garde", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

/// Main heading font family
$heading-font-stack: "Patua One", "Roboto Slab", serif !default;

/* ==========================================================================
   Pre-defined colors
   ========================================================================== */

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main heading color
/// @type Color

$heading-color: rgba(55, 55, 55, 0.8) !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

<<<<<<< HEAD
/* ==========================================================================
=======
-/* ==========================================================================
>>>>>>> 2fa9b7536881e2755ee9aaaf8484ac6651ea66ce
   Breakpoints and responsive stuff
   ========================================================================== */

/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: ("small": (min-width: 320px), "medium": (min-width: 768px), "large": (min-width: 1024px)) !default;

/* ==========================================================================
   Base url
   ========================================================================== */

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default;