// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.header-wrap{
	background-color: $brand-color;
	min-height: 350px;
	background-position: no-repeat center top;
	width: 100%;

	h1{
		color: #fff;
	}
}